/* styles.css */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.016em;
    line-height: 1.4285914286;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    background: #fff;
    color: #1d1d1f;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.coll {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fll {
    display: flex;
    gap: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    color: #333;
}

video {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: cover;
}

input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #d2d2d7;
    background: #fbfbfd;
    padding: 4px 7px;
}

button {
    font-size: 14px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -0.022em;
    border-style: solid;
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    background: #0071e3;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
}

button:hover {
    background: #0175e9;
}

.lbld {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lbltxt {
    font-size: 14px;
    padding-left: 7px;
    line-height: 1.6;
    font-weight: 500;
}

.rescol {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#result {
    width: auto;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    padding: 1px 8px;
    box-sizing: border-box;
    border-radius: 5px;
}

.usnm {
    margin-left: 5px;
    text-transform: capitalize;
}

.h-tt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
}

.h-txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inpTxt {
    color: red;
    font-size: 11px;
    margin-left: 7px;
}

.inpinf {
    color: red;
    font-size: 11px;
    margin-left: 7px;
}


#camera {
    position: relative;
}

.camtxt {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    padding: 1px 8px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
}

/* Loader animation */
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.lnk {
    color: #000;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
}

.lnk:hover {
    text-decoration: underline;
}

h3 {
    margin: 0;
    font-size: 20px;
}

.usrimg {
    display: flex;
    justify-content: center;
}

.usrimg img {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 18px;
}