<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
</head>

<body>

    <div class="coll">
        <div class="h-tt">Welcome Home! {{first_name}} {{last_name}}
        </div>
        <table>
          <caption>
              Here is your booking information for the {{hotel_name}}
          </caption>
          <tbody>
            <tr>
            <th scope="row">Photo</th>
            <td>
                <div class="usrimg">
                    <img class="usrimg" src="{{ image }}" alt="User Image">
                </div>
            </td>
            </tr>
            <tr>
              <th scope="row">Username</th>
              <td>@{{username}}</td>
            </tr>
            <tr>
              <th scope="row">Date of birth</th>
              <td>{{dob.strftime("%Y-%m-%d")}}</td>
            </tr>
            <tr>
              <th scope="row">Passport number</th>
              <td>{{passport}}</td>
            </tr>
            <tr>
              <th scope="row">Room number</th>
              <td>{{room_num}}</td>
            </tr>
            <tr>
              <th scope="row">Check-in</th>
              <td>{{check_in.strftime("%Y-%m-%d, %H:%m")}}</td>
            </tr>
            <tr>
              <th scope="row">Check-out</th>
              <td>{{check_out.strftime("%Y-%m-%d, %H:%m")}}</td>
            </tr>
          </tbody>
        </table>

        <div class="flend">
            <form action="/myaccount/delete" method="post">
                <input type="hidden" name="username" value="{{ username }}">
                <button type="submit" class="roredbtn">Delete this account</button>
            </form>
            <form action="/logout" method="post">
                <button type="submit" class="roundbtn">Logout</button>
            </form>
        </div>
    </div>


</body>

</html>
