<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Face Recognition</title>
</head>

<body>

    <div class="coll">
        <h3>Login with FaceID</h3>

        <a href="/register">Create an account, if you don't have one</a>

        <div id="camera">
            <div class="camtxt">Please look straight to the camera</div>
            <video id="video" autoplay></video>
            <div id="result"></div>
        </div>

        <div class="lbld">
            <div class="lbltxt">Username</div>
            <input required type="text" id="username" placeholder="Enter your username">
            <div class="inpinf"></div>
        </div>
        <button onclick="verifyFace()">Log in</button>
    </div>

    <script>
        const video = document.getElementById('video');
        const resultDiv = document.getElementById('result');
        const usernameInput = document.getElementById('username');

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
                video.addEventListener('loadeddata', () => {
                    // Start processing frames when video data is loaded
                });
            })
            .catch(err => console.error(err));

        function verifyFace() {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
            const image = canvas.toDataURL('image/jpeg');
            const username = usernameInput.value;

            const usnmInp = document.getElementById("username")
            if (usnmInp.value.trim() === '') {
                usnmInp.parentNode.querySelector('.inpinf').textContent = 'Username is required.';
                return;
            }

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `username=${encodeURIComponent(username)}&image=${encodeURIComponent(image)}`
            })
                .then(response => response.json())
                .then(data => {
                    if (data.user_not_found) {
                        resultDiv.style = "background: rgba(0, 0, 0, 0.5);";
                        resultDiv.textContent = 'User does not exist!';
                        return;
                    }

                    if (data.is_match) {
                        resultDiv.textContent = 'Match!';
                        window.location.replace("/"); // Redirect to index page upon match
                    } else {
                        resultDiv.style = "background: rgba(0, 0, 0, 0.5);";
                        resultDiv.textContent = 'Face is not matching!';
                    }
                })
                .catch(err => {
                    console.error(err);
                });
        }
    </script>
</body>

</html>