<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='tot.png') }}">

    <title>Login</title>
</head>

<body>

    <div id="loadingOverlay" class="overlay">
        <div class="loader"></div>
    </div>

    <div class="coll">
        <div class="icon">
            <img src="{{ url_for('static', filename='tot.png') }}" alt="">
        </div>
        <h3>Login with FaceID</h3>

        <div id="camera">
            <div class="camtxt">Please look at the camera</div>
            <video id="video" autoplay></video>
            <div class="rescol">
                <div id="result"></div>
            </div>
        </div>

        <div class="lbld">
            <div class="lbltxt">Username</div>
            <input required type="text" id="username" placeholder="Enter your username">
            <div class="inpinf"></div>
        </div>
        <button onclick="verifyFace()">Log in</button>
        <a class="lnk" href="/register">If you don't have an account, Sign up</a>
    </div>

    <script>
        const loadingOverlay = document.getElementById("loadingOverlay");
        const video = document.getElementById('video');
        const resultDiv = document.getElementById('result');
        const usernameInput = document.getElementById('username');

        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
                video.addEventListener('loadeddata', () => {
                    // Start processing frames when video data is loaded
                });
            })
            .catch(err => console.error(err));

        function verifyFace() {

            loadingOverlay.style.display = "flex";

            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
            const image = canvas.toDataURL('image/jpeg');
            const username = usernameInput.value;

            // clear previous content in the inputs
            resultDiv.style = "background: none;";
            resultDiv.textContent = '';

            const usnmInp = document.getElementById("username")
            usnmInp.parentNode.querySelector('.inpinf').textContent = ''
            if (usnmInp.value.trim() === '') {
                usnmInp.parentNode.querySelector('.inpinf').textContent = 'Username is required.';
                hideLoadingOverlay();
                return;
            }

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `username=${encodeURIComponent(username)}&image=${encodeURIComponent(image)}`
            })
                .then(response => response.json())
                .then(data => {
                    if (data.user_not_found) {
                        usnmInp.parentNode.querySelector('.inpinf').textContent = 'User does not exist!';
                        hideLoadingOverlay();
                        return;
                    }

                    if (data.no_face) {
                        resultDiv.style = "background: rgba(0, 0, 0, 0.5);";
                        resultDiv.textContent = 'No face was provided!';
                        return;
                    }

                    if (data.is_match) {
                        window.location.replace("/"); // Redirect to index page upon match
                    } else {
                        resultDiv.style = "background: rgba(0, 0, 0, 0.5);";
                        resultDiv.textContent = 'Face is not matching!';
                    }
                })
                .catch(err => {
                    console.error(err);
                })
                .finally(() => {
                    hideLoadingOverlay();
                });
        }

        function hideLoadingOverlay() {
            // Hide loading overlay
            loadingOverlay.style.display = "none";
        }
    </script>
</body>

</html>