<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='tot.png') }}">

    <title>Sign up</title>
</head>

<body>

    <div id="loadingOverlay" class="overlay">
        <div class="loader"></div>
    </div>

    <div class="coll">
        <div class="icon">
            <img src="{{ url_for('static', filename='tot.png') }}" alt="">
            <div class="wt">Truely Open & Trusted</div>
        </div>
        <h3>Creating new account</h3>

        <div class="fll">
            <div id="camera">
                <div class="camtxt">Please look straight to the camera</div>
                <video id="video" autoplay></video>
                <div class="rescol">
                    <div id="result"></div>
                </div>
            </div>
            <div class="form">
                <input type="hidden" name="image" id="image">
                <div class="lbld">
                    <div class="lbltxt">Username</div>
                    <input required type="text" name="username" id="username" placeholder="Username">
                    <div id="inpTxt"></div>
                    <div class="inpinf"></div>
                </div>
                <div class="fll">
                    <div class="lbld">
                        <div class="lbltxt">First name</div>
                        <input required type="text" name="first_name" id="first_name" placeholder="First name">
                        <div id="inpTxt"></div>
                        <div class="inpinf"></div>
                    </div>
                    <div class="lbld">
                        <div class="lbltxt">Last name</div>
                        <input required type="text" name="last_name" id="last_name" placeholder="Last name">
                        <div id="inpTxt"></div>
                        <div class="inpinf"></div>
                    </div>
                </div>
                <div class="fll">
                    <div class="lbld">
                        <div class="lbltxt">Passport number</div>
                        <input required type="text" name="passport" id="passport" placeholder="Passport number">
                        <div id="inpTxt"></div>
                        <div class="inpinf"></div>
                    </div>
                    <div class="lbld">
                        <div class="lbltxt">Date of birth</div>
                        <input required type="date" name="dob" id="dob" placeholder="Date of birth">
                        <div id="inpTxt"></div>
                        <div class="inpinf"></div>
                    </div>
                </div>
                <div class="fll">
                    <div class="lbld">
                        <div class="lbltxt">Hotel name</div>
                        <input required type="text" name="hotel_name" id="hotel_name" placeholder="Hotel name">
                        <div id="inpTxt"></div>
                        <div class="inpinf"></div>
                    </div>
                    <div class="lbld">
                        <div class="lbltxt">Room number</div>
                        <input required type="number" name="room_num" id="room_num" placeholder="Room number">
                        <div id="inpTxt"></div>
                        <div class="inpinf"></div>
                    </div>
                </div>
                <div class="fll">
                    <div class="lbld">
                        <div class="lbltxt">Check-in</div>
                        <input required type="datetime-local" name="check_in" id="check_in">
                        <div class="inpinf"></div>
                    </div>
                    <div class="lbld">
                        <div class="lbltxt">Check-out</div>
                        <input required type="datetime-local" name="check_out" id="check_out">
                        <div class="inpinf"></div>
                    </div>
                </div>
                <button class="btn" type="submit" onclick="RegisterNewUser()">Register new account</button>
                <a class="lnk" href="/login">If you already have an account, <span style="color: #007fe4; font-weight: 600;">log in</span></a>
            </div>
        </div>

        <script>
            const resultDiv = document.getElementById("result")
            const inpTxt = document.getElementById("inpTxt")
            const loadingOverlay = document.getElementById("loadingOverlay");
            const video = document.getElementById('video');
            const imageInput = document.getElementById('image');

            const usernameInp = document.getElementById('username');
            const first_nameInp = document.getElementById('first_name');
            const last_nameInp = document.getElementById('last_name');
            const dobInp = document.getElementById('dob');

            const passportInp = document.getElementById('passport');
            const hotel_nameInp = document.getElementById('hotel_name');
            const room_numInp = document.getElementById('room_num');

            const check_inInp = document.getElementById('check_in');
            const check_outInp = document.getElementById('check_out');

            // Access the device camera and stream to video element
            navigator.mediaDevices.getUserMedia({ video: true })
                .then((stream) => {
                    video.srcObject = stream;
                })
                .catch((err) => {
                    console.error("Error accessing the camera: ", err);
                });

            // Capture image from camera when submitting the form
            function RegisterNewUser() {

                loadingOverlay.style.display = "flex";

                const canvas = document.createElement('canvas');
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                const imageData = canvas.toDataURL('image/jpeg');
                imageInput.value = imageData;

                inpTxt.textContent = '';

                resultDiv.style = "background: none;";
                resultDiv.textContent = '';

                usernameInp.parentNode.querySelector('.inpinf').textContent = '';
                dobInp.parentNode.querySelector('.inpinf').textContent = '';
                first_nameInp.parentNode.querySelector('.inpinf').textContent = '';
                last_nameInp.parentNode.querySelector('.inpinf').textContent = '';
                passportInp.parentNode.querySelector('.inpinf').textContent = '';
                hotel_nameInp.parentNode.querySelector('.inpinf').textContent = '';
                room_numInp.parentNode.querySelector('.inpinf').textContent = '';
                check_inInp.parentNode.querySelector('.inpinf').textContent = '';
                check_outInp.parentNode.querySelector('.inpinf').textContent = '';

                const username = usernameInp.value;
                const dob = dobInp.value;
                const first_name = first_nameInp.value;
                const last_name = last_nameInp.value;
                const passport = passportInp.value;
                const hotel_name = hotel_nameInp.value;
                const room_num = room_numInp.value;
                const check_in = check_inInp.value;
                const check_out = check_outInp.value;


                if (username.trim() === '') {
                    usernameInp.parentNode.querySelector('.inpinf').textContent = 'Username is required.';
                    hideLoadingOverlay();
                    return;
                }

                if (first_name.trim() === '') {
                    first_nameInp.parentNode.querySelector('.inpinf').textContent = 'First name is required.';
                    hideLoadingOverlay();
                    return;
                }
                if (first_name.length > 20) {
                    first_nameInp.parentNode.querySelector('.inpinf').textContent = 'First name should be at least 20 characters.';
                    hideLoadingOverlay();
                    return;
                }

                if (last_name.trim() === '') {
                    last_nameInp.parentNode.querySelector('.inpinf').textContent = 'Last name is required.';
                    hideLoadingOverlay();
                    return;
                }
                if (last_name.length > 25) {
                    last_nameInp.parentNode.querySelector('.inpinf').textContent = 'Last name should be at least 20 characters.';
                    hideLoadingOverlay();
                    return;
                }

                if (passport.trim() === '') {
                    passportInp.parentNode.querySelector('.inpinf').textContent = 'Passport is required.';
                    hideLoadingOverlay();
                    return;
                }

                const passportPattern = /^[A-Za-z]{2}\d{7}$/;
                // Check if passport ID matches the pattern
                if (!passportPattern.test(passport)) {
                    passportInp.parentNode.querySelector('.inpinf').textContent = 'Passport ID should look like AA0000000.';
                    hideLoadingOverlay();
                    return;
                }

                if (dob.trim() === '') {
                    dobInp.parentNode.querySelector('.inpinf').textContent = 'Date of birth is required.';
                    hideLoadingOverlay();
                    return;
                }

                if (hotel_name.trim() === '') {
                    hotel_nameInp.parentNode.querySelector('.inpinf').textContent = 'Hotel name is required.';
                    hideLoadingOverlay();
                    return;
                }

                if (room_num.trim() === '') {
                    room_numInp.parentNode.querySelector('.inpinf').textContent = 'Room number is required.';
                    hideLoadingOverlay();
                    return;
                }

                if (check_in.trim() === '') {
                    check_inInp.parentNode.querySelector('.inpinf').textContent = 'Check-in is required.';
                    hideLoadingOverlay();
                    return;
                }

                if (check_out.trim() === '') {
                    check_outInp.parentNode.querySelector('.inpinf').textContent = 'Check-out is required.';
                    hideLoadingOverlay();
                    return;
                }

                const checkInDate = new Date(check_in);
                const checkOutDate = new Date(check_out);

                // Check if check-out date is after check-in date
                if (checkOutDate <= checkInDate) {
                    check_outInp.parentNode.querySelector('.inpinf').textContent = 'Checkout should be after Check-in date.';
                    hideLoadingOverlay();
                    return;
                }

                // Check if there's at least one day gap between check-in and check-out
                const oneDay = 24 * 60 * 60 * 1000; // 1 day in milliseconds
                if ((checkOutDate.getTime() - checkInDate.getTime()) < oneDay) {
                    check_outInp.parentNode.querySelector('.inpinf').textContent = 'There should be at least one day gap between check-in and check-out.';
                    hideLoadingOverlay();
                    return;
                }

                fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: `username=${encodeURIComponent(username)}&dob=${encodeURIComponent(dob)}&first_name=${encodeURIComponent(first_name)}&last_name=${encodeURIComponent(last_name)}&passport=${encodeURIComponent(passport)}&hotel_name=${encodeURIComponent(hotel_name)}&room_num=${encodeURIComponent(room_num)}&image=${encodeURIComponent(imageData)}&check_in=${encodeURIComponent(check_in)}&check_out=${encodeURIComponent(check_out)}`
                })
                    .then(response => response.json())
                    .then(data => {
                      if (data.no_face) {
                          resultDiv.style = "background: rgba(0, 0, 0, 0.5);";
                          resultDiv.textContent = 'No face was captured!';
                          return;
                      }
                      if (data.user_is_available) {
                        window.location.replace("/login"); // Redirect to index page upon match
                      }
                      else {
                        usernameInp.parentNode.querySelector('.inpinf').textContent = 'There is already a username like this!';
                      }


                    })
                    .catch(err => {
                        console.error(err);
                    })
                    .finally(() => {
                        hideLoadingOverlay();
                    });
            }

            function hideLoadingOverlay() {
                // Hide loading overlay
                loadingOverlay.style.display = "none";
            }
        </script>
        <script>
            // Get today's date
            var today = new Date();

            // Format the date as YYYY-MM-DD
            var formattedDate = today.toISOString().substr(0, 16);

            // Set the value of the input field to today's date
            document.getElementById("check_in").value = formattedDate;
            document.getElementById("check_in").min = formattedDate;

            document.getElementById("check_out").value = formattedDate;
            document.getElementById("check_out").min = formattedDate;
        </script>
</body>

</html>
